/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.productForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 10% 0 10%;
}

.productFormHeader {
  text-align: center;
  margin: 5%;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.addProductBtn {
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
}

.tab-list-active {
  background-color: white;
  /* border: solid #ccc; */
  color: white;
  font-weight: 600;
  background-color: rgb(102, 168, 102);
  border-width: 2px 2px 0 2px;
}

.header {
  text-align: center;
}
